/* BACKGROUND IMAGE */
 .body {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align:inherit;

 }
 
 h1.city {
     padding: 10px;
 }
    


/* MAIN BOX FOR 7 DAYS */
.main {
    display: flex;
    width: 1000px;
    height: 400px;
    padding: 10px;
    border-radius: 25px;
    flex-direction: row;
    background-color: rgba(240, 255, 255, 0.507);
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* DAY BOXES */
.days {
    display: flex;
    flex-direction: column;
    background-color: rgb(24, 183, 204);
    width: 800px;
    height: 400px;
    margin: 10px;
    border-radius: 25px;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    font-size:large;
}
.temp {
    padding: 20px;
    font-size: x-large;
}
.conditions {
    padding: 30px;
    font-size: medium;
}
.icon {
    background-image: url('https://cdn2.iconfinder.com/data/icons/weather-flat-14/64/weather02-512.png');
    height: 100px;
    width: 100px;
}
