* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
        display:grid
        font-family: 'Abril Fatface', cursive;
        font-size: 18px;
        letter-spacing: 2px;
        word-spacing: 2px;
        position:relative; 
        height: 100vh;
        background: linear-gradient(#a6d8ff,#fff,#fff);

    }
.sun {
        
        position:absolute;
        top:50px;
        left:60%; 
        transform:translateX(-50%);
        width:100px; 
        height:100px;
        background:#fff;
        border-radius:50%;
        box-shadow: 0 0 50px #fff; 
        cursor:pointer;
        transition:0.2%;
}
    .header {
        height: 150px;
        text-align: center;
        margin: 0px, 0px, 0px,45px;
        padding: 30px;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: 50% 50% ;
    }
    .header div {
        /* background-color: transparent; */
        float:left;
        margin: 0 300px 0 300px;
        /* width:50%; */
        padding: 10px;
        
      
    }
    .container {
      
        justify-content: space-evenly;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: 50% 50% ;
    }
    .weather {
        max-width: 1200px;
        margin: 50px;
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 45px;
        grid-row-gap: 45px;
        padding: 30px 45px;
    }
    .affirmations {
        color: black;
        font-size: 50px;
        font-weight: normal;
        margin: 50px;
        
        
      
    }

    .afirmations {
        position: absolute;
        

    }
    .city {
        margin: 0;
        padding: 88px;
        width: 500px;
        height: 500px;
        color: ivory;
        text-align: center;
        font-size: 30px; 
        color:black;
        background-color: ;
        border: 5px solid rgba(28,110,164,0.36);
    }
    .alminac {
        margin: 0 0 0 150px;
        width: 500px;
        height: 500px;
        padding: 88px;
        background-image: url(https://upload.wikimedia.org/wikipedia/commons/2/2f/Clouds.gif);
        border: 5px solid rgba(28,110,164,0.36);
    }
    #logo {
        background-image: url("");
    }
    @media screen and (min-width:1201px) and (max-width:1475px) {
    }
